In [5]:
# File Input Output
# Part1: Reading from a files
# 1. CSV
# 2. Excel
# 3. JSON

# https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html
import pandas as pd

In [6]:
ls

01SeriesDF.ipynb  02CombiningIndexing.ipynb  03FileIO.ipynb  dummy_data.csv

In [7]:
# 1. CSV
df = pd.read_csv("dummy_data.csv")

print(df.head())

   ID      Name  Age    Country
0   1  Person_1   18  Australia
1   2  Person_2   21         UK
2   3  Person_3   21         UK
3   4  Person_4   57     France
4   5  Person_5   27        USA

In [8]:
df = pd.read_csv("dummy_data.csv",index_col=0)
print(df.head())

        Name  Age    Country
ID
1   Person_1   18  Australia
2   Person_2   21         UK
3   Person_3   21         UK
4   Person_4   57     France
5   Person_5   27        USA

In [10]:
df = pd.read_csv("dummy_data.csv",index_col=1) # specifies which column is the row labels
print(df.head())

          ID  Age    Country
Name
Person_1   1   18  Australia
Person_2   2   21         UK
Person_3   3   21         UK
Person_4   4   57     France
Person_5   5   27        USA

In [12]:
# 2. Excel

# make sure to install 
# pip install openpyxl


df = pd.read_excel("dummy_data.xlsx")
print(df.head())

   ID      Name  Age    Country
0   1  Person_1   18  Australia
1   2  Person_2   21         UK
2   3  Person_3   21         UK
3   4  Person_4   57     France
4   5  Person_5   27        USA

In [13]:
# you can read specific sheet names, so next code may be useful

# First, load the workbook into an ExcelFile object
excel_file = pd.ExcelFile('dummy_data.xlsx')

# Then, you can access the sheet_names attribute to get a list of the sheet names
sheet_names = excel_file.sheet_names

print(sheet_names)

['Sheet1']

In [14]:
df = pd.read_excel("dummy_data.xlsx",sheet_name="Sheet1")
print(df.head())

   ID      Name  Age    Country
0   1  Person_1   18  Australia
1   2  Person_2   21         UK
2   3  Person_3   21         UK
3   4  Person_4   57     France
4   5  Person_5   27        USA

In [15]:
# 3. JSON

In [18]:
df1 = pd.read_json("dummy_data.json")
print(df1.head())

ValueError: Trailing data

In [20]:
df1 = pd.read_json("dummy_data.json",lines=True) # note if your json space seperated
print(df1.head())

   ID      Name  Age    Country
0   1  Person_1   18  Australia
1   2  Person_2   21         UK
2   3  Person_3   21         UK
3   4  Person_4   57     France
4   5  Person_5   27        USA

In [21]:
# Part 2 
# Writing to the files
# Simulating the creation of a pandas DataFrame with data, similar to previous examples

# Sample data for demonstration
data = {
    "ID": [1, 2, 3, 4, 5],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [28, 34, 45, 23, 31],
    "Country": ["USA", "Canada", "UK", "Australia", "Germany"]
}

# Creating a DataFrame
sample_df = pd.DataFrame(data)

# Displaying the DataFrame
sample_df

   ID     Name  Age    Country
0   1    Alice   28        USA
1   2      Bob   34     Canada
2   3  Charlie   45         UK
3   4    David   23  Australia
4   5      Eva   31    Germany

In [22]:
sample_df.to_csv("samle_data.csv")
df = pd.read_csv("samle_data.csv")
print(df)

   Unnamed: 0  ID     Name  Age    Country
0           0   1    Alice   28        USA
1           1   2      Bob   34     Canada
2           2   3  Charlie   45         UK
3           3   4    David   23  Australia
4           4   5      Eva   31    Germany

In [24]:
sample_df.to_csv("samle_data.csv",index=False)  # Index is not kept when writing
df = pd.read_csv("samle_data.csv")
print(df)

   ID     Name  Age    Country
0   1    Alice   28        USA
1   2      Bob   34     Canada
2   3  Charlie   45         UK
3   4    David   23  Australia
4   5      Eva   31    Germany

In [26]:
# ok with excel if we want multiple sheets.

with pd.ExcelWriter("sample_data.xlsx") as writer:
    sample_df.to_excel(writer,index=False, sheet_name="NYY")
    sample_df.to_excel(writer,index=False, sheet_name="BOS")

df_dict = pd.read_excel("sample_data.xlsx",sheet_name=None)
print(df_dict.keys())
print(df_dict["BOS"])

dict_keys(['NYY', 'BOS'])
   ID     Name  Age    Country
0   1    Alice   28        USA
1   2      Bob   34     Canada
2   3  Charlie   45         UK
3   4    David   23  Australia
4   5      Eva   31    Germany

In [27]:
# json

sample_df.to_json("samle_data.json")
df = pd.read_json("samle_data.json")
print(df)

   ID     Name  Age    Country
0   1    Alice   28        USA
1   2      Bob   34     Canada
2   3  Charlie   45         UK
3   4    David   23  Australia
4   5      Eva   31    Germany

In [29]:

sample_df.to_json("samle_data.json",orient="index")
df = pd.read_json("samle_data.json",orient="index")
print(df)

   ID     Name  Age    Country
0   1    Alice   28        USA
1   2      Bob   34     Canada
2   3  Charlie   45         UK
3   4    David   23  Australia
4   5      Eva   31    Germany